<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!-- Para conectarnos a la base de datos agregamos la sig. linea-->
	<!-- Configuramos la cadena de conexion-->
<connectionStrings>
	<add name="cadena_conexion" connectionString="Data Source=AXEL;Initial Catalog=dbEddieShirt;Integrated Security=True" providerName="system.Data.SqlClient"
		 
/>
</connectionStrings>
</configuration>